<link rel="stylesheet" type="text/css" href="https://tikzjax.com/v1/fonts.css">
<script defer src="https://tikzjax.com/v1/tikzjax.js"></script>

<link rel="stylesheet" href="/css/custom.css">

<script>
  window.MathJax = {
    loader: {
      load: ['[tex]/amscd', '[tex]/newcommand', '[tex]/html']
      load: ['[tex]/amscd', '[tex]/newcommand']
    },
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']],
      processEscapes: true,
      tags: 'ams',
      packages: {'[+]': ['amscd', 'newcommand', 'html']},
      packages: {'[+]': ['amscd', 'newcommand']},
      macros: {
        Z: "\\mathbb{Z}",
        R: "\\mathbb{R}",
        Q: "\\mathbb{Q}",
        C: "\\mathbb{C}",
        N: "\\mathbb{N}",
        coloneqq: "\\mathrel{:=}",
        Hom: "\\operatorname{Hom}",
        Spec: "\\operatorname{Spec}",
        colim: "\\operatorname{colim}",
        id: "\\operatorname{id}",
        ker: "\\operatorname{ker}",
        im: "\\operatorname{im}",
        hofib: "\\operatorname{hofib}",
        cofib: "\\operatorname{cofib}",
        To: "\\longrightarrow",
        cite: ["\\class{citation}{\\href{#ref-#1}{[\\,#1\\,]}}", 1],
        citet: ["\\class{citation}{\\href{#ref-#1}{(#1)}}", 1]
        To: "\\longrightarrow"
      }
    },
    options: {
      ignoreHtmlClass: 'tex2jax_ignore',
      processHtmlClass: 'tex2jax_process'
    },
    startup: {
      typeset: true
    }
  };
</script>

<script defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js" id="MathJax-script"></script>
