{{- $id := .Get "id" | default "" -}}
{{- if $id -}}
  {{- $key := printf "thm_registry:%s" .Page.RelPermalink -}}
  {{- $registry := default (dict) (.Page.Store.Get $key) -}}
  {{- $entry := dict "kind" "Remark" "number" "" "star" true "anchor" (anchorize $id) "title" (.Get "title" | default "") -}}
  {{- .Page.Store.Set $key (merge $registry (dict $id $entry)) -}}
{{- end -}}
<div class="math-env remark"{{ with $id }} id="{{ anchorize . }}"{{ end }}>
  <div class="env-title">
    <em>
      Remark
      {{- with .Get "title" -}}
        ({{ . }}).
      {{- else -}}
        .
      {{- end -}}
    </em>
  </div>

  <div class="env-content">
    {{- .Inner | .Page.RenderString -}}
  </div>
</div>
